@charset "utf-8";
/* CSS Document */

#wrapper {
	text-align:center;
	/*overflow-x: auto;*/
}

#text_content {
	display: block;
	background-color: #bbb;
	margin-bottom: 10px;
	width: 100%;
}

p {
	margin-left: 15px;
	margin-right: 15px;
	text-align:justify;
}

#fluid_image {
	display: inline-block;
	width:auto;
	max-width:100%;
	min-width:450px;
	height:auto;
}