@charset "utf-8";
#header {
	height: 50px;
	margin-bottom: 10px;
	background-color: #666;
}

.col {
	float: left;
	margin-left: 3%;
	background-color: #bbb;
	margin-bottom: 10px;
}

#navigation {
	width: 30%;
}

#content {
	width: 64%;
}

#footer {
	clear: both;
	height: 50px;
	background-color: #666;
}

h1 {
	margin: 0;
	padding: 5px;
}

h2 {
	margin-top: 0;
	padding-top: 7px;
}

h2, p {
	margin-left: 7px;
	margin-right: 7px;

} 



